*{
	padding: 0;
	margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.menu {
  width: 9%;
  float: left;
  margin-right: 10px;
  margin-left: 0;
  height: 100vh;
  }
.logo img {
	width: 335px;
	left: 14px;
}
.logo {
  top: 47%;
}
.items {
	background: #004B59;
	width: 335px;
  height: 110%;
  margin-top: -5%;
}
.items ul{
  list-style: none;
  padding: 30px 0;
  transition: 0.3s ease;
  margin-left: 20px;

}
.items li {
 text-align: center; 
  padding: 18px;
  width: 100%;
}
.items a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 90px;
  padding-left: 65px;
  text-align: center;
  vertical-align: baseline;

}
.items li:link {
 background-color: white;
 border-radius: 10px;
 cursor: pointer;
}
.items li:visited {
 background-color: white;
 border-radius: 10px;
 cursor: pointer;
}
.items li:hover {
 background-color: white;
 border-radius: 10px;
 cursor: pointer;
}

.items li:link a{
 background-color: white;
 border-radius: 10px;
 cursor: pointer;
}
.items li:visited a{
 background-color: white;
 border-radius: 10px;
 cursor: pointer;
}
.items li:hover a{
 background-color: white;
 border-radius: 10px;
 cursor: pointer;
}


.profile{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 5px 30px;
  border-bottom: 3px solid #004B59;
  float: right;

  }

.profile img{
  margin-left: 1%;
}
.welcome {
  margin-left: 15%;
}

form {
      position: absolute;
      margin-top: 40%;
      left: 45%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-25%, -50%);
      transform: translate(-50%, -50%);
      width: 38%;
      height: 100%;
      padding: 15px 40px;
    }

    input{
      width: 90%;
      height: 2vh;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      border-radius: 10px;
    }
    label {
      text-decoration: none;
      font-size: 20px;
      font-weight: 200;
      line-height: 30px;
    }
    .add {
      background-color: #01ABCA;
      color: white;
      font-size: 20px;
      padding: 10px 22px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 90%;
      opacity: 0.9;

    }
    .autoshop{
      margin-left: 30%;
    }
